* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-gap: 15px;
}

@media only screen and (min-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
      width: 1200px;
      margin: auto;
  }
}