* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 100px;
}

/*Movie Tile Container*/
.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-gap: 15px;
}

@media only screen and (min-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
      width: 1200px;
      margin: auto;
  }
}

/*Movie Tile*/
.movie-card {
  height: 640px;
  max-width: 400px;
  margin: 0 auto;
}

.movie-card > img {
  height: 450px;
}

.movie-body {
  height: 100px;
}

.movie-card:hover {
  cursor: pointer;
}

.margin-top-auto {
  margin-top: auto;
}

/*Footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}